.account_wrap {

    .container {
        max-width: 900px;

        .account_inner_wrap {
            background: #010102;
            padding: 15px;
            border: 1px solid var(--text-color);
            position: relative;
            z-index: 0;
            width: 100%;
            margin: 0px auto;
            box-shadow: 0px 14px 83px 0px rgba(0, 0, 0, 0.75);

            .account_title {
                margin-bottom: 30px;
                color: #fff;

                h3 {
                    font-family: NekstRegular;
                    font-weight: 600;
                }

                h6 {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0;
                    font-family: NekstRegular;

                    svg {
                        cursor: pointer;
                    }

                    .text_copied {
                        font-size: 12px;
                        background: #06071B;
                        padding: 4px;
                        border-radius: 5px;
                        box-shadow: 0px 0px 10px 0px #3a3a3b;
                        position: relative;
                        top: -23px;
                        left: -35px;
                    }

                    span {
                        word-wrap: break-word;
                        font-family: NekstRegular;

                    }
                }
            }

            .account_tabs {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px;
                    gap: 5px;
                    background-color: #111827;
                    margin-bottom: 10px;

                    li {
                        list-style: none;
                        width: 100%;
                        text-align: center;

                        &.active {
                            background: var(--secondary-color);

                            a {
                                color: #000;

                                &:hover {
                                    color: var(--text-color) !important;
                                }
                            }
                        }

                        a {
                            padding: 8px;
                            display: block;
                            text-decoration: none;
                            position: relative;
                            font-weight: 900 !important;
                            font-size: 14px;
                            color: #94A3B8;
                            position: relative;
                            transition: all 0.5s ease;
                            border-radius: 10px;
                            font-family: NekstRegular;

                        }
                    }
                }
            }
        }
    }
}