.account_wrap {

    .container {
        max-width: 900px;

        .account_inner_wrap {
            background-color: #06071B;
            // margin: 60px auto 80px;
            border-radius: 16px;
            padding: 15px;
            border: 1px solid #D9C7E5;
            position: relative;
            z-index: 12;
            width: 100%;
            margin: 0px auto;
            box-shadow: 0px 14px 83px 0px rgba(0, 0, 0, 0.75);

            .account_title {
                margin-bottom: 30px;
                color: #fff;

                h3 {

                    font-weight: 600;
                }

                h6 {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0;

                    svg {
                        cursor: pointer;
                    }

                    .text_copied {
                        font-size: 12px;
                        background: #06071B;
                        padding: 4px;
                        border-radius: 5px;
                        box-shadow: 0px 0px 10px 0px #3a3a3b;
                        position: relative;
                        top: -23px;
                        left: -35px;
                    }

                    span {
                        word-wrap: break-word;
                    }
                }
            }

            .account_tabs {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px;
                    gap: 5px;
                    background-color: #111827;
                    border-radius: 10px;
                    margin-bottom: 10px;

                    li {
                        list-style: none;
                        width: 100%;
                        text-align: center;

                        &.active {
                            background: linear-gradient(90deg, #D2C4DB 0%, #D9C7E5 6.56%, #DFC9ED 13.32%, #E6CCF6 18.71%, #EECFFF 26.05%, #F8D3FF 32.16%, #FFD8FF 38.56%, #FFDEFF 45.69%, #FFE2FF 52.89%, #FFE9FF 61.69%, #FFEBFF 68.17%, #FFECFF 74.86%, #FFEBFF 80.24%, #FFE8FF 85.91%, #FFE5FF 90.93%, #FFE3FF 94.64%, #FFDFFF 100%), #B7B7B7;
                            border-radius: 8px;

                            a {
                                color: #000;
                            }
                        }

                        a {
                            padding: 8px;
                            display: block;
                            text-decoration: none;
                            position: relative;
                            font-weight: 600;
                            font-size: 14px;
                            color: #94A3B8;
                            position: relative;
                            transition: all 0.5s ease;
                            border-radius: 10px;
                        }
                    }
                }

                // .nav-tabs {
                //     background-color: var(--secondary-color);
                //     // padding: 5px;
                //     border: none;
                //     border-radius: 10px;
                //     width: 100%;
                //     margin-bottom: 10px;

                //     .nav-item {
                //         width: 50%;

                //         .nav-link {
                //             width: 100%;
                //             border: none;
                //             border-radius: 10px;
                //             color: var(--text-color);
                //             font-weight: 500;
                //             font-size: 14px;
                //             padding: 12px 15px;

                //             &:hover {
                //                 background-color: transparent;
                //                 color: var(--primary-color);
                //             }

                //             &.active {
                //                 color: var(--primary-color);
                //                 border: none;
                //                 // border-radius: 12px;
                //                 font-weight: 500;
                //                 // box-shadow: 0 0 8px #14171a14, 0 0 4px #14171a0a;
                //                 background-color: transparent;
                //                 font-size: 14px;
                //                 position: relative;

                //                 &::after {
                //                     position: absolute;
                //                     height: 3px;
                //                     left: 50%;
                //                     bottom: 0px;
                //                     content: "";
                //                     width: 20%;
                //                     background: var(--primary-color);
                //                     transform: translate(-50%);
                //                     border-radius: 3px 3px 0px 0px;
                //                 }
                //             }
                //         }
                //     }
                // }
            }
        }
    }
}