.account_withdraw_table {
    table {

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-style: none;
        }

        tbody {
            tr {
                td {
                    font-size: 12px;
                    font-family: NekstRegular;

                }

                .withdraw_inner_btn {
                    background:var(--secondary-color);
                    font-size: 12px;
                    padding: 1px 15px;
                    font-weight: 600;
                    float: right;
                    min-width: 68px;

                    .spinner-border {
                        height: 15px;
                        width: 15px;
                    }

                    &:hover {
                        color: #000;
                    }
                }
            }

            tr td {
                background-color: #06071B !important;
                box-shadow: none;
            }
        }

        th {
            background-color: #06071B;
            font-family: NekstRegular;

        }
    }

}