.news-letter-wrap {
    padding: 50px 0px;

    .news-letter-img {
        position: relative;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    .news-letter-inner-wrap {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0px;
        padding: 0px 100px;
        transform: translate(0%, -50%);

        p {
            font-family: NekstMedium;
            font-size: 18px;
            font-weight: 500;
        }

        .h2-title {
            line-height: 50px;
            margin: 20px 0px 70px !important;
        }

        .news-letter-input {
            display: flex;
            align-items: center;

            .form-control {
                border: none;
                border-bottom: 1px solid var(--text-color);
                background-color: transparent;
                border-radius: 0px;
                height: 50px;
                width: 85%;
                color: var(--text-color);
                &::placeholder {
                    color: var(--text-color);
                }
            }

            .input-btn-wrap {
                position: relative;
                overflow: hidden;

                &::after {
                    background: #fff;
                    z-index: 3;
                    transform: rotate(45deg);
                    border-left: 2px solid var(--secondary-color);
                    position: absolute;
                    bottom: -7px;
                    right: 4px;
                    content: "";
                    height: 28px;
                    width: 7px;
                    overflow: hidden;
                    border-radius: 0px 20px 20px 0px;
                }

                .input-btn {
                    background-color: var(--text-color);
                    border-radius: 0px 0px 24px 0px;
                    min-width: 150px;
                    height: 50px;
                    color: var(--primary-color);
                    position: relative;
                    overflow: hidden;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    font-family: NekstBold;

                    &::before {
                        position: absolute;
                        bottom: -1px;
                        right: 9px;
                        content: "";
                        height: 27px;
                        width: 7px;
                        background: var(--text-color);
                        transform: rotate(45deg);
                        z-index: 2;
                        border-radius: 0px;
                        border-left: 2px solid var(--secondary-color);
                    }

                    &::after {
                        border-radius: 0px 0px 24px 0px;
                        border: 2px solid var(--secondary-color);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        content: "";
                        width: 95%;
                        height: 85%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1650px) {
    .news-letter-wrap .news-letter-inner-wrap {
        top: 40%;
    }
}

@media screen and (max-width:1300px) {
    .news-letter-wrap .news-letter-inner-wrap .news-letter-input .input-btn-wrap .input-btn {
        min-width: 115px !important;
    }

}

@media screen and (max-width:1250px) {
    .news-letter-wrap .news-letter-inner-wrap .h2-title {
        line-height: 50px;
        margin: 10px 0px !important;
    }
}

@media screen and (max-width:1024px) {
    .news-letter-wrap .news-letter-inner-wrap {
        padding: 0px 20px;
    }

    .news-letter-wrap .news-letter-inner-wrap .news-letter-input .input-btn-wrap .input-btn {
        min-width: 70px !important;
    }
}
@media screen and (max-width:991px) {
    .news-letter-wrap{
        padding: 20px 0px;
    }
}

@media screen and (max-width:850px) {
    .news-letter-wrap .news-letter-inner-wrap .h2-title {
        line-height: 30px;
        font-size: 30px;
    }

    .news-letter-wrap .news-letter-inner-wrap p {
        font-size: 14px;
    }
}

@media screen and (max-width:650px) {
    .news-letter-wrap .news-letter-inner-wrap .h2-title {
        margin: 0px !important;
    }
}

@media screen and (max-width:575px) {
    .news-letter-wrap .news-letter-inner-wrap .news-letter-input .form-control {
        width: 100%;
    }

    .news-letter-inner-wrap {
        display: flex;
    }

    .input-btn-wrap {
        width: 100%;
    }

    .news-letter-wrap .news-letter-inner-wrap .news-letter-input .input-btn-wrap .input-btn {
        min-width: 100% !important;
    }

    .news-letter-wrap .news-letter-inner-wrap .h2-title {
        line-height: 16px;
        font-size: 18px;
    }

    .news-letter-wrap .news-letter-inner-wrap p {
        font-size: 10px;
    }

    .news-letter-wrap .news-letter-inner-wrap p {
        line-height: 10px;
        margin-bottom: 5px !important;
    }
}

@media screen and (max-width:360px) {
    .news-letter-wrap .news-letter-inner-wrap .news-letter-input .input-btn-wrap .input-btn {
        font-size: 10px;
        padding: 0px;
        height: 35px;
    }

    .news-letter-wrap .news-letter-inner-wrap .news-letter-input .input-btn-wrap .input-btn::before {
        bottom: -1px;
        right: 6px;
        height: 24px;
    }

    .news-letter-wrap .news-letter-inner-wrap .news-letter-input .form-control {
        height: 33px;

    }

    .news-letter-wrap .news-letter-inner-wrap .news-letter-input .form-control::placeholder {
        font-size: 10px !important;
    }
}

@media screen and (max-width:320px) {
    .news-letter-wrap .news-letter-inner-wrap p{
        margin-bottom: 0px !important;
        font-size: 8px;
    }
    .news-letter-wrap .news-letter-inner-wrap .h2-title {
        line-height: 11px;
        font-size: 14px;
    }
}